.manageadmins_wrapper {
  display: flex;
  min-height: 550px;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .manageadmins_wrapper {
    display: flex;
    min-height: 550px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
}
