.Content_table {
  border-collapse: collapse;
  font-size: 17px;
  min-width: 400px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.Content_table > thead {
  position: sticky;
  top: 0;
}

.Content_table > thead > tr {
  background-color: rgb(0, 182, 0);
  color: #fff;
  text-align: left;
  font-weight: bold;
}
.Content_table th,
.Content_table td {
  padding: 3px 11.7px;
}

.Content_table tbody tr {
  border-bottom: 1px solid #ddd;
}
.Content_table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.Del_user {
  font-size: 24px;
}

.checkbox {
  display: flex;
  justify-content: space-between;
}
.checkbox span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.checkbox span p {
  font-size: 13px;
}
.checkbox > span > input {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.DeletePro {
  position: fixed;
  top: -50%;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 100px;
  box-shadow: rgba(112, 112, 112, 0.24) 0px 3px 8px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 15px;
  transition: 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}
.DelShow {
  top: 10%;
  transition: 0.3s;
}

.DeletePro > p {
  font-size: 22px;
  text-align: center;
}
.DeletePro > span > button {
  padding: 3px 12px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  border: none;
  color: #fff;
  border-radius: 7px;
}
.DeletePro > span > button:nth-child(1) {
  background-color: rgb(0, 164, 0);
}
.DeletePro > span > button:nth-child(2) {
  background-color: #db0002;
}

.delete__shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 100vh;
  /* backdrop-filter: blor(4px); */
}
