.Back_To-Top {
  width: 45px;
  height: 45px;
  background-color: var(--color);
  border: none;
  cursor: pointer;
  font-size: 40px;
  font-weight: 500;
  border-radius: 50%;
  padding: 5px;
  color: #fff;
  position: fixed;
  right: 30px;
  z-index: 3;
  bottom: 66px;
}
