.Container{
    padding: 0 30px;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}
.top{
    width: 100%;
    height: 400px;
    position: relative;
    border: 2px solid rgb(2, 53, 2);
    border-radius: 20px;
    overflow: hidden;
    
}

.top_span{
    width: 100%;
    height: 200px;
    display: flex;
    background-color:rgb(255, 255, 255);
}
.Non{
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.top_liner{
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../assets/myProfile.jpg);
}
.top_box{
    width:  220px;
    height: 220px;
    position: absolute;
    transform: translate(0%, -23%);
    display: flex;
    align-items: center;
    /* background-color:rgb(0, 0, 0); */
    border: 3px solid rgb(60, 255, 0);
    overflow: hidden;
    justify-content: center;
    border-radius: 50%;
}
.top_box > img{
    width: 100%;
    margin-top: 0px;
}
.Fname_Lname{
    width: 530px;
    height: 200px;
}

.Inp_fname{
    height: 55px;
    width: 190px;
    font-size: 45px;
    margin-top: 1px;
    border: none;
    outline: none;
}

.Inp_lname{
    height: 55px;
    width: 272px;
    margin-top: 1px;
    font-size: 45px;
    border: none;
    outline: none;
}

.Fname_Lname > span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 5px 0;
}
.Fname_Lname > span > h2{
    margin-left: 20px;
    margin-top: 14px;
    font-size: 34px;
    color: rgb(90, 90, 90);
    cursor: pointer;
}
.Fname_Lname > span > h1{
    font-size: 45px;
    font-weight: 500;
}
.Fname_Lname > span > h1:nth-child(2){
    margin-left: 12px;
}
.Username_Password{
    display: flex;
    flex-direction: column;
}
.Username_Password_titel{
    font-size: 22px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Username_Password_inp{
    font-size: 22px;
    width: 160px;
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Username_Password_inp > svg{
    font-size: 30px;
    margin-right: 7px;
    color: rgb(90, 90, 90);
}
.Inp_key{
    width: 100px;
    height: 25px;
    font-size: 21px;
    font-weight: 600;
    border: none;
    outline: none;
}

.Username_Password_item{
    font-size: 22px;
    width: 160px;
    display: flex;
    align-items: center;
}


.Username_Password_age{
    font-size: 22px;
    width: 160px;
    display: flex;
    align-items: center;
}

.Username_Password_age > h4{
    margin-right: 10px;
    color: rgb(90, 90, 90);
}

.Username_Password_item > svg{
    font-size: 26px;
    margin-right: 10px;
    color: rgb(90, 90, 90);
}
.Username_Password_titel > svg{
    font-size: 30px;
    color: rgb(90, 90, 90);
}

.btn_eye{
    height: 22px;
    font-size: 22px;
    background-color: transparent;
    color: rgb(90, 90, 90);
    border: none;
    cursor: pointer;
}
.Username_Password_titel > h3{
    margin-top: 9px;
    line-height: 20px;
    font-size: 30px;
}
.Link_box{
    height: 50px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Link{
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.Link_box select{
    font-size: 19px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    border: none;
}
.Link_box > span{
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-bottom: 10px;
}
.Link_box > span > svg{
    font-size: 21px;
    margin-right: 8px;
    color: rgb(90, 90, 90);
}

.Link > span{
    font-size: 30px;
    cursor: pointer;
    display: flex;
}

.Inp_age{
    width: 120px;
    height: 25px;
    font-size: 21px;
    font-weight: 600;
    border: none;
    outline: none;
    
}

.Inp_phone{
    width: 90px;
    height: 20px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    outline: none;

}
.text_phone{
    display: flex;
    margin-bottom: 8px;
    align-items: center;
}
.text_phone > svg{
    color: rgb(90, 90, 90);
   font-size: 20px;
   margin-right: 8px;
}

.name_country{
    font-size: 18px;
    font-weight: 400;
}

.inp_img{
    position: absolute;
    bottom: 0;
    background-color: rgba(119, 119, 119, 0.653);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}
.inp_img > input{
   display: none;
}
.inp_img > label{
    font-size: 28px;
    margin-top: 4px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}