.popular_product {
  width: 100%;
  height: 380px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}
.sideCard {
  width: 320px;
  height: 100%;
  object-fit: cover;
  border-radius: 13px;
}

.product_container {
  width: calc(100% - 235px);
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 35px;
}
.product_item {
  width: 270px;
  height: 380px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}
.pro_img {
  height: 176px;
  width: 100%;
  object-fit: contain;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
  cursor: pointer;
}
.pro_title {
  font-weight: 500;
  font-size: 17px;
}
.del_price {
  color: #999;
  font-size: 14px;
  font-weight: 500;
}
.pro_price {
  font-size: 18px;
  font-weight: 600;
  color: #db0002;
}
.pro_month {
  font-size: 13px;
  font-weight: 700;
  padding: 3px 6px;
  background-color: #ffd740;
  border-radius: 6px;
}
.pro_addCart {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 10px;
  font-size: 19px;
  cursor: pointer;
}

.BiHeart{
  color: var(--color);
}
.pro_money {
  margin-left: 10px;
  padding: 4px 40px;
  font-size: 17px;
  font-weight: 500;
  background-color: transparent;
  color: var(--color);
  border: 2px solid var(--bg-dark);
  border-radius: 10px;
  cursor: pointer;
}
.pro_heart {
  position: absolute;
  z-index: 2;
  right: 5px;
  font-size: 28px;
  color: #999;
  cursor: pointer;
}
.pro_stats {
  position: absolute;
  z-index: 2;
  right: 5px;
  top: 45px;
  font-size: 28px;
  cursor: pointer;
  color: #999;
}

/*--------- Skeleton--------- */

.movie--isloading {
  overflow: hidden;
  background-color:aqua;
  width: 270px;
  height: 380px;
  border-radius:10px;
}

.movie--isloading .loading-image {
  height: 210px;
  background-image: -webkit-linear-gradient(
    left,
    #ececec 0px,
    #f4f4f4 40px,
    #ececec 80px
  );
  background-image: -o-linear-gradient(
    left,
    #ececec 0px,
    #f4f4f4 40px,
    #ececec 80px
  );
  background-image: linear-gradient(
    90deg,
    #ececec 0px,
    #f4f4f4 40px,
    #ececec 80px
  );
  background-size: 250px;
  -webkit-animation: shine-loading-image 2s infinite ease-out;
  animation: shine-loading-image 2s infinite ease-out;
}

.movie--isloading .loading-content {
  background: #f7f7f7;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.movie--isloading .loading-content .loading-text-container {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.loading-btn-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.movie--isloading .loading-content .loading-main-text {
  height: 15px;
  width: 95%;
  margin-bottom: 10px;
  background: #ececec;
  background-image: -webkit-linear-gradient(
    left,
    #ececec 0px,
    #ddd 40px,
    #ececec 80px
  );
  background-image: -o-linear-gradient(
    left,
    #ececec 0px,
    #ddd 40px,
    #ececec 80px
  );
  background-image: linear-gradient(
    90deg,
    #ececec 0px,
    #ddd 40px,
    #ececec 80px
  );
  background-size: 250px;
  border-radius: 10px;
  -webkit-animation: shine-loading-container-items 2s infinite ease-out;
  animation: shine-loading-container-items 2s infinite ease-out;
}
.movie--isloading .loading-content .loading-price-text {
    height: 15px;
    width: 35%;
    margin-bottom: 10px;
    background: #ececec;
    background-image: -webkit-linear-gradient(
      left,
      #ececec 0px,
      #ddd 40px,
      #ececec 80px
    );
    background-image: -o-linear-gradient(
      left,
      #ececec 0px,
      #ddd 40px,
      #ececec 80px
    );
    background-image: linear-gradient(
      90deg,
      #ececec 0px,
      #ddd 40px,
      #ececec 80px
    );
    background-size: 250px;
    border-radius: 10px;
    -webkit-animation: shine-loading-container-items 2s infinite ease-out;
    animation: shine-loading-container-items 2s infinite ease-out;
  }
.movie--isloading .loading-content .loading-sub-text {
  height: 15px;
  margin: 8px 0;
  width: 76%;
  background: #ececec;
  background-image: -webkit-linear-gradient(
    left,
    #ececec 0px,
    #ddd 40px,
    #ececec 80px
  );
  background-image: -o-linear-gradient(
    left,
    #ececec 0px,
    #ddd 40px,
    #ececec 80px
  );
  background-image: linear-gradient(
    90deg,
    #ececec 0px,
    #ddd 40px,
    #ececec 80px
  );
  background-size: 250px;
  border-radius: 10px;
  -webkit-animation: shine-loading-container-items 2s infinite ease-out;
  animation: shine-loading-container-items 2s infinite ease-out;
}

.movie--isloading .loading-content .loading-col-text {
    height: 15px;
    margin: 8px 0;
    width: 50%;
    background: #ececec;
    background-image: -webkit-linear-gradient(
      left,
      #ececec 0px,
      #ddd 40px,
      #ececec 80px
    );
    background-image: -o-linear-gradient(
      left,
      #ececec 0px,
      #ddd 40px,
      #ececec 80px
    );
    background-image: linear-gradient(
      90deg,
      #ececec 0px,
      #ddd 40px,
      #ececec 80px
    );
    background-size: 250px;
    border-radius: 10px;
    -webkit-animation: shine-loading-container-items 2s infinite ease-out;
    animation: shine-loading-container-items 2s infinite ease-out;
  }
.movie--isloading .loading-content .loading-btn {
  width: 45%;
  height: 45px;
  background: #ececec;
  background-image: -webkit-linear-gradient(
    left,
    #ececec 0px,
    #ddd 40px,
    #ececec 80px
  );
  background-image: -o-linear-gradient(
    left,
    #ececec 0px,
    #ddd 40px,
    #ececec 80px
  );
  background-image: linear-gradient(
    90deg,
    #ececec 0px,
    #ddd 40px,
    #ececec 80px
  );
  background-size: 250px;
  border-radius: 3px;
  -webkit-animation: shine-loading-container-items 2s infinite ease-out;
  animation: shine-loading-container-items 2s infinite ease-out;
}

@-webkit-keyframes shine-loading-image {
  0% {
    background-position: -32px;
  }
  40%,
  100% {
    background-position: 208px;
  }
}

@keyframes shine-loading-image {
  0% {
    background-position: -32px;
  }
  40%,
  100% {
    background-position: 208px;
  }
}

@-webkit-keyframes shine-loading-container-items {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 140px;
  }
}

@keyframes shine-loading-container-items {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 140px;
  }
}
